.btn-uber {
  color: #777;
  opacity: 0.9;
  background-color: white;
  border-color: #777;
}

.btn-uber:hover {
  color: white;
  background-color: #777;
  border-color: #777;
}

.caption-subtitle {
  padding-bottom: 20px;
}

.image-caption {
  background-color: rgba(100, 100, 100, .7);
  position: absolute;
  width: 700px;
  left: 21em;
  top: 7em;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

.description {
  color: #777;
  text-align: center;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: #777;
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
