---
http_interactions:
- request:
    method: get
    uri: http://api.eventful.com/json/categories/list?app_key=jzrQDTwqBVDwSn5j
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"category":[{"name":"Concerts &amp; Tour Dates","event_count":null,"id":"music"},{"name":"Conferences &amp; Tradeshows","event_count":null,"id":"conference"},{"name":"Comedy","event_count":null,"id":"comedy"},{"name":"Education","event_count":null,"id":"learning_education"},{"name":"Kids &amp; Family","event_count":null,"id":"family_fun_kids"},{"name":"Festivals","event_count":null,"id":"festivals_parades"},{"name":"Film","event_count":null,"id":"movies_film"},{"name":"Food &amp; Wine","event_count":null,"id":"food"},{"name":"Fundraising &amp; Charity","event_count"[...]
