<div id="spinning-wheel" class="spinning-wheel">
  <%= image_tag "ajax-loader-copy.gif" %>
</div>
<div class="predictor-nav-bar">
  <h2>Predictor Options</h2>
  <div class="row">
    <%= form_tag predictor_path, method: "get" do %>
      <div class="predictor-options">
        <span class="predictor-option"><%= label_tag "City" %></span>
        <%= collection_select :event, :city_id, @cities, :id, :name %>
      </div>
    <% end %>
  </div>
  <hr>
  <h2>Events</h2>
  <div class="events">
  </div>
</div>
<div id='map'></div>
