---
http_interactions:
- request:
    method: get
    uri: https://api.uber.com/v1/estimates/time?start_latitude=39.7392&start_longitude=-104.9903
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aCOlGTnz4RuD6cNMkAaxtlmRu4y9ZH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Remaining:
      - '936'
      Content-Language:
      - en
      Etag:
      - '"09d3c8ecd5dac9d5579f52c6339a815edfb11508"'
      X-Rate-Limit-Reset:
      - '1429722000'
      X-Rate-Limit-Limit:
      - '1000'
      X-Uber-App:
      - uberex-nonsandbox
    body:
      encoding: UTF-8
      string: '{"times":[{"localized_display_name":"uberX","estimate":88,"display_name":"uberX","product_id":"b746437e-eab6-44ca-8079-25dfd6f861ab"},{"localized_display_name":"uberXL","estimate":238,"display_name":"uberXL","product_id":"1c2d6363-0b64-45ad-b749-a539b186f376"},{"localized_display_name":"uberSELECT","estimate":227,"display_name":"uberSELECT","product_id":"54368029-1d2f-4864-80a7-eb79703cb3af"},{"localized_display_name":"UberBLACK","estimate":71,"display_name":"UberBLACK","product_id":"53641edd-8142-4491-8f83-3c366fecd276"},{"localized_display_name":"UberSUV","estimate":71,"display_name":"UberSUV","product_id":"a79464c3-1aec-492b-95fd-c1e96f32ec83"}]}'
  recorded_at: Wed, 22 Apr 2015 16:08:12 GMT
recorded_with: VCR 2.9.3
