.navbar {
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #EEEEEE;
  border-style: none;
  margin-bottom: 10px;
}

.navbar-default .navbar-nav>li>a {
  color: #777;
}

.navbar-default .navbar-brand {
  color: #777;
}

.navbar-brand {
  font-size: 1.8em;
}

.navbar-link {
  font-size: 1.0em;
}
