<div class="col-md-12 footer">
  <div class="col-md-4 footer-left">
  </div>
  <div class="col-md-4 footer-middle">
    <div class="row footer-links"><a href="">Home</a> | <a href="">About</a> | <a href="http://bryceholcomb.com/contact">Contact</a></div>
    <div class="row author"><p>An 'uber' web application developed by <a href="http://bryceholcomb.com">Bryce Holcomb</a></p></div>
    <div class="row source-code"><i class="fa fa-code"></i> <a href="http://github.com/bryceholcomb/rider_demand">View the Source Code</a> <i class="fa fa-code"></i></div>
  </div>
  <div class="col-md-4 footer-right">
  </div>
</div>

