<div class="info-boxes">
  <div class="row-fluid">
    <div class="col-md-4 info-box">
      <i class="fa fa-line-chart"></i>
      <h3>Demand</h3>
      <p>We pull in event data from multiple providers and show you when things will start heating up</p>
    </div>
    <div class="col-md-4 info-box">
      <i class="fa fa-taxi"></i>
      <h3>Supply</h3>
      <p>We show you what areas are light with drivers so you can position yourself to get more rides</p>
    </div>
    <div class="col-md-4 info-box">
      <i class="fa fa-users"></i>
      <h3>Community</h3>
      <p>Find out what other drivers in your city are doing to get more rides</p>
    </div>
  </div>
</div>
