<div class="img-responsive">
  <%= image_tag "uber_driver_cropped.jpg" %>
  <div class="image-caption">
    <h1>Get More Rides</h1>
    <h3>With our innovative tools you can spend less time checking the Uber rider app and get more riders</h3>
    <%= link_to "Login with Uber", "/auth/uber", class: "btn btn-lg" %>
  </div>
</div>
<div class="info-boxes">
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-4 info-box">
        <i class="fa fa-line-chart"></i>
        <h3>Demand</h3>
        <p>We pull in event data from multiple providers and show you when things will start heating up</p>
      </div>
      <div class="col-md-4 info-box">
        <i class="fa fa-taxi"></i>
        <h3>Supply</h3>
        <p>We show you what areas are light with drivers so you can position yourself to get more rides</p>
      </div>
      <div class="col-md-4 info-box">
        <i class="fa fa-users"></i>
        <h3>Community</h3>
        <p>Find out what other drivers are doing to get more rides</p>
      </div>
    </div>
  </div>
</div>
