.mapboxgl-marker {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border:1px solid gray;
  background-color:lightblue;
}

.legend {
  background-color: #fff;
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
}

.legend, .menu {
  color: #777;
}

.legend h5, .menu h5 {
  margin: 0 0 10px;
}

.legend div#text {
  margin: 0;
  padding: 0;
}

.legend div span {
  display: inline-block;
  height: 12px;
  margin-right: 5px;
  width: 12px;
}

.menu {
  border-radius: 3px;
  position: absolute;
  top: 65px;
  right: -5px;
  background: #fff;
  padding: 10px;
  margin: 10px;
  max-width: 180px;
}

.menu div {
  font-size: 12px;
}
