.vehicle-image {
  max-width: 20em;
}

.profile-image {
  max-height: 150px;
}

.profile-image-box {
  margin-right: auto;
  margin-left: auto;
  width: 10em;
}

.profile-row {
  padding-top: 110px;
  background-color: #777;
}

.user-info-box h3 {
  font-size: 40px;
}

.user-info-box {
  padding-top: 0px !important;
  font-size: 15px;
  text-align: center;
  color: white;
}
